*{
    font-family: 'SUIT', sans-serif;
    
}

h1{
    margin-bottom: 40px;
}

input{
    background-color: rgb(226, 147, 147);
    border: none;
    padding : 3px 10px;
    color: white;
    margin-top: 20px;
    
}

