{% extends 'base.html' %}

{% block css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
{% endblock %}

{% block content %}
<center>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="title">제목</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <!-- <label for="lyrics">가사</label><br> -->
            <textarea name="lyrics" id="lyrics" cols="30" rows="10" placeholder="다들 어때?"></textarea>
        </div>
        <button type="submit">작성</button>
    </form>
</center>
{% endblock %}
