<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <link href="http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <div id="title">
        <p id="title">{{ todo.title }}</p>
    </div>
    <div>
        <p>📜 {{ todo.content }}</p>
    </div>
    <div id="due">
        <p>⌚ {{ todo.duedate }}</p>
    </div>
    <a href="{% url 'home' %}"><button>목록</button></a>
    <a href="{% url 'edit' todo.pk %}"><button>수정</button></a>
    <a href="{% url 'delete' todo.pk %}"><button>삭제</button</a>
</center>
</body>
</html>