* {
    font-family: 'SUIT', sans-serif;
}

body{
    width: 300px;
}

header{
    width: 300px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

img#feed{
    display: flex;
    float: left;
    height: 90px !important;
    width: 90px  !important;
    border: 5px solid white;
    
}


#profile{
    width: 300px; 
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#info{
    width: 300px;
    padding-left: 25px;
    padding-top: 10px;
}

p.info{
    line-height: 3px;
    font-size: 13px;
}

#number{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#square_button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p.button{
    border: 1px solid black;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

.profilepic{
    width : 60px !important;
    border-radius: 70%;
}

.number{
    font-size: 18px;
}

p.number_explain{
    position: relative;
    top: -18px;
}
p.number{
    position: relative;
    top: -5px;
}

.number_explain{
    font-size: 10px;
}


post{
    padding-right: 20px;
}
follower{
    padding-right: 20px;
    text-align: center;
}
following{
    text-align:center
    
}



feed_icon{
    display: flex;
    justify-content: space-evenly;
}

.footer_icon{
    padding-top: 10px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}