*{
    font-family: 'SUIT', sans-serif;
    background-color: #91a6b9;
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: 3px solid #f8b840;
    background-color: #fbce78;
    padding: 5px;
}

p#title{
    font-size: 20px;
    font-weight: 600;
}

#title{
    padding-bottom: 10px;
}

#due{
    padding-bottom: 20px;
}