<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'hobby.css' %}">
    <link href="http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>목록</h2>
    <ul>
        {% for article in articles %}
        {% if article.category.slug == 'hobby' %}
        <li>
            <a href="{% url 'detail' article.id %}">
                {{ article.title }}
            </a></li>
        
        {% endif %}
        {% endfor %} 
    </ul>
    <br><br>
    <a href="{% url  'new' %}">
        <button>✍ 글 쓰러 가기 ✍</button></a>
</body>
</html>