<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}">
    <link href="http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>카테고리</h2>


    <a href="{% url 'hobby' %}">🎠 취미
            ({{ hobby_count }})
    </a>
    <br>
    <a href="{% url 'food' %}">🍲 음식 
        ({{ food_count }})
    </a><br>
    <a href="{% url 'programming' %}">💻 프로그래밍
        ({{ programming_count }})
    </a>
    <br>
    <br>
    <br>

    <a href="{% url  'new' %}">
        <button>✍ 글 쓰러 가기 ✍</button></a><br>


</body>
</html>